.bottom-footer {
	margin-bottom: 1.5vh;
}

.bottom {
	width: 100%
}

.social-logo  {
	height: 30px;
	margin-right: 10px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main-logos, .social-logos {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.social-logos {
	width: 15vw;
}


.made-by-csivit img {
	height: 20px;
	position: absolute;
	right: 1vw;
	bottom: 0;
}